<ion-view view-title="Profile">
	<ion-content class="padding">
		<div class="idk header">
			<center>
				<a href="">
					<img class="avatar" src="img/adam.jpg">
				</a>
				<!--
				<a href="#" ng-if="profileDetails.img == '' ">
					<img class="avatar" src="img/no-img.png">
				</a>
			-->
			</center>
			<h3>{{profileDetails.staffName}}</h3>
			<h4 class="name">Teacher</h4>
			<hr class="hr">
		</div>
		<div class="profile-content">
			<div class="row">
				<div class="col grid">
					<span class="" style="float: left;width: 11%; "><i class="icon ion-email blue "></i></span>
					<span class=" " style="float: right;width: 84%;margin-top: 7px; " ng-if="profileDetails.email">{{profileDetails.email}}</span>
					<span class=" " style="float: right;width: 84%;margin-top: 7px; " ng-if="profileDetails.email == ''">staff@email.com</span>
				</div>
			</div>
			<div class="row ">
				<div class="col grid">
					<span class="" style="float: left;width: 11%; "><i class="icon ion-ios-telephone blue "></i></span>
					<span class=" " style="float: right;width: 84%;margin-top: 7px; ">{{profileDetails.smsNo}}</span>
				</div>
			</div>
			<div class="row ">
				<div class="col grid">
					<span class="" style="float: left;width: 11%; "><i class="icon ion-home blue "></i></span>
					<span class=" " style="float: right;width: 84%;margin-top: 7px; ">{{profileDetails.addressLine1}}, {{profileDetails.addressLine2}}</span>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>